<ul>
    <h3><%= @breeds['name'] %></h3>
    <li> <strong>Description:</strong> <%= @breeds['description'] %></li>
    <li> <strong>Temperament:</strong> <%= @breeds['temperament'] %></li>
    <li> <strong>Origin:</strong> <%= @breeds['origin'] %></li>
    <li> <strong>Life Span:</strong> <%= @breeds['life_span'] %></li>
    <li> <strong>Affection level:</strong> <%= @breeds['affection_level'] %></li>
    <li> <strong>Shedding level:</strong> <%= @breeds['shedding_level'] %></li>
    <li> <strong>Stranger friendly:</strong> <%= @breeds['stranger_friendly'] %></li>
    <li> <strong>Origin:</strong> <%= @breeds['origin'] %></li>
</ul>
  <a href="https://en.wikipedia.org/wiki/Bengal_(cat)" target="_blank" >Read more</a>